# Ignore everything
*

# Except the directories and their contents
!test/
!include/
!src/
!.gitignore
!makefile

# Ensure that the directories themselves are tracked
!test/**
!include/**
!src/**

# Ignore .vscode
src/.vscode/
